[I/O]
#Sources & Lenses
zp_file = /Users/Christina/DES/magnification/lbgselect/zproboutput/sva1_gold_y1dfullcosmos_flagBRmasked_auto_griz_full_gauss_z4_6bins+GalaxSV3903sig*fits
data_file = /Users/Christina/DES/data/sva1_gold_auto_good_regions_SPT-E.fits
lens_file = /Users/Christina/DES/data/redmagic_sva1_public_v6.3_faint_good_regions_SPT-E.fits
random_lens_file = /Users/Christina/DES/data/random_sva1_redmagic_good_regions_SPT-E.fits

#Balrog
balrog_zp_files = /Users/Christina/DES/magnification/lbgselect/zproboutput/svbalrog*_y1dfullcosmos_flagBRmasked_auto_griz_full_gauss_z4_6bins+GalaxSV3903sig*fits
balrog_sim_files = /Users/Christina/DES/data/balrog_sva1_tab*_SIM_TRUTH_zp_corr_fluxes.fits

#Test Field Files
test_zp_file = /Users/Christina/DES/magnification/lbgselect/zproboutput/y1d10_y1dfullcosmos_matched_flagBRmasked_auto_griz_full_gauss_z4_6bins+GalaxSV3903sig_all.fits
test_data_file = /Users/Christina/DES/data/y1a1_gold_d10_dfull_cosmos_matched_d10flagBRmasked_dfullflagBRmasked.fits

#Output file base name
output = /Users/Christina/DES/magnification/lbgselect/test_sva1_gold_z4_6bins


[Columns]
zp_id_col = COADD_OBJECTS_ID
data_id_col = COADD_OBJECTS_ID
data_mag_col = MAG_AUTO_{}
test_data_id_col = COADD_OBJECTS_ID_d10
test_z_col = ZMINCHI2_dfull
balrog_id_col = BALROG_INDEX


[Assignments]
#Indices of P(z) columns to use for selection
redshift_index = [[ [0,1], [ -1] ],
	       	  [ [0,1]        ]]

#For each group above, select when sum(P(z)'s) < below & > above
below  = [[0.4, 1.0],
          [1.0]      ]

above  = [[0.0, 0.6],
       	  [0.9]      ]

#For each group, state desired truth redshift range
true_ranges = [[4.0, 9.9],
	       [0.001, 1.0]]



