[I/O]
#zprob files to use, balrog must have same columns
zp_file = /Users/Christina/DES/magnification/lbgselect/zproboutput/sva1_gold_y1dfullcosmos_flagBRmasked_auto_griz_full_gauss_z4_6bins+GalaxSV3903sig*fits
data_file = /Users/Christina/DES/data/sva1_gold_auto_good_regions_SPT-E.fits
lens_file = /Users/Christina/DES/data/redmagic_sva1_public_v6.3_faint_good_regions_SPT-E.fits

balrog_zp_file = /Users/Christina/DES/magnification/lbgselect/zproboutput/svbalrog*_y1dfullcosmos_flagBRmasked_auto_griz_full_gauss_z4_6bins+GalaxSV3903sig*fits
balrog_data_file = 

#test_zprob_file must have same redshift ranges
#contamination probabilities/slopes
test_zprob_file = /Users/Christina/DES/magnification/lbgselect/zproboutput/y1a1_gold_d04dfullcosmos_y1d04dfullmatchcosmosbothBR_auto_griz_full_gauss_z4_6bins+GalaxiaSV390_radec_good_regions_SPT-E_3sig_0-100000.fits
#/y1a1_gold_cosmosd04_cosmosdfull_matched_bothflagBRmasked_auto_griz_full_gauss_z4_6bins.fits
test_data_file = /Users/Christina/DES/data/y1a1_gold_d04_dfull_cosmos_matched_d04flagBRmasked_dfullflagBRmasked.fits
test_k_file = 

output = /Users/Christina/DES/magnification/lbgselect/test_sva1_gold_z4_6bins


[Columns]
zp_id_col = COADD_OBJECTS_ID
data_id_col = COADD_OBJECTS_ID
data_mag_col = MAG_AUTO_{}
test_data_id_col = COADD_OBJECTS_ID_d04


[Assignments]
#indices of P(z) columns to use for selection
redshift_index = [[ [0,1], [ -1] ],
	       	  [ [0,1]        ]]

#for each zindex group, select when sum(P(z)'s) < below & > above
below  = [[0.4, 1.0],
          [1.0]      ]

above  = [[0.0, 0.6],
       	  [0.9]      ]


