[I/O]
#zprob files to use, balrog must have same columns
zp_file = /Users/Christina/DES/magnification/lbgselect/zproboutput/y1a1_gold_cosmosd04_cosmosdfull_matched_bothflagBRmasked_auto_griz_full_gauss_z4_6bins.fits
data_file = /Users/Christina/DES/data/y1a1_gold_d04_dfull_cosmos_matched_d04flagBRmasked_dfullflagBRmasked.fits

lens_file = ''

balrog_zp_file = ''
balrog_data_file = ''

#contamination probabilities/slopes
test_zprob_file = ''
test_k_file = ''

output = test_y1d04dfull_bothBR_z4_6bins

[Columns]
zp_id_col = COADD_OBJECTS_ID_d04
data_id_col = COADD_OBJECTS_ID_d04


[Assignments]
#indices of P(z) columns to use for selection
redshift_index = [[ [0,1], [ -1] ],
	       	  [ [0,1]        ]]


#for each zindex group, select when sum(P(z)'s) < below & > above
below  = [[0.4, 1.0],
          [1.0]      ]

above  = [[0.0, 0.6],
       	  [0.9]      ]


